@using OdeToFood.Data.Models
@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">We have @Model.Count() Restaurants in our Database</p>
    <br/>
    <text>Here are they:</text>
    <hr/>
    <ul>
        @foreach (var restaurant in Model)
        {
            <li>@restaurant.Name serving @restaurant.Cusine cuisine</li>
        }
    </ul>

    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

